.carousel-item:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.btn {
  font-weight: bold;
}

.ignite {
  text-decoration: underline;
  text-decoration-style: dotted;
}

footer {
  background-color: #1d3a45;
}
